<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Reset Password Request</h1>
    <p>your user name is : <%= @user.user_name %> </p>

    <p>for reset password, use this code(otp) :<%= @user.reset_password_token%> </p>  

    <p>If you did not make this request then please ignore this email</p>
  </body>
</html>