<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to job portal</h1>
    <p>your user name is : <%= @user.user_name %></p>
    <p>
      You have successfully signed up to job portal
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>